<a href="https://colab.research.google.com/github/janhavidhamak/carbon_emission_prediction/blob/main/Notebooks/02_ModelTraining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("/content/carbon_emission_final")

In [ ]:
df.head(5)

,Unnamed: 0,Body Type,Sex,Diet,How Often Shower,Heating Energy Source,Transport,Vehicle Type,Social Activity,Monthly Grocery Bill,...,Cooking_With,CarbonEmission,Frequency of Traveling by Air_frequently,Frequency of Traveling by Air_never,Frequency of Traveling by Air_rarely,Frequency of Traveling by Air_very frequently,Waste Bag Size_extra large,Waste Bag Size_large,Waste Bag Size_medium,Waste Bag Size_small
0,0,overweight,female,pescatarian,daily,4,public,Unknown,often,230,...,"['Stove', 'Oven']",2238,True,False,False,False,False,True,False,False
1,1,obese,female,vegetarian,less frequently,2,walk/bicycle,Unknown,often,114,...,"['Stove', 'Microwave']",1892,False,False,True,False,True,False,False,False
2,2,overweight,male,omnivore,more frequently,3,private,petrol,never,138,...,"['Oven', 'Microwave']",2595,False,True,False,False,False,False,False,True
3,3,overweight,male,omnivore,twice a day,3,walk/bicycle,Unknown,sometimes,157,...,"['Microwave', 'Grill', 'Airfryer']",1074,False,False,True,False,False,False,True,False
4,4,obese,female,vegetarian,daily,4,private,diesel,often,266,...,['Oven'],4743,False,False,False,True,False,True,False,False

In [ ]:
df.columns

Index(['Unnamed: 0', 'Body Type', 'Sex', 'Diet', 'How Often Shower',
       'Heating Energy Source', 'Transport', 'Vehicle Type', 'Social Activity',
       'Monthly Grocery Bill', 'Vehicle Monthly Distance Km',
       'Waste Bag Weekly Count', 'How Long TV PC Daily Hour',
       'How Many New Clothes Monthly', 'How Long Internet Daily Hour',
       'Energy efficiency', 'Recycling', 'Cooking_With', 'CarbonEmission',
       'Frequency of Traveling by Air_frequently',
       'Frequency of Traveling by Air_never',
       'Frequency of Traveling by Air_rarely',
       'Frequency of Traveling by Air_very frequently',
       'Waste Bag Size_extra large', 'Waste Bag Size_large',
       'Waste Bag Size_medium', 'Waste Bag Size_small'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 27 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Unnamed: 0                                     10000 non-null  int64
 1   Body Type                                      10000 non-null  object
 2   Sex                                            10000 non-null  object
 3   Diet                                           10000 non-null  object
 4   How Often Shower                               10000 non-null  object
 5   Heating Energy Source                          10000 non-null  int64
 6   Transport                                      10000 non-null  object
 7   Vehicle Type                                   10000 non-null  object
 8   Social Activity                                10000 non-null  object
 9   Monthly Grocery Bill                           10000 non-null  int64
 10  Vehicle Monthly Distance Km                    10000 non-null  int64
 11  Waste Bag Weekly Count                         10000 non-null  int64
 12  How Long TV PC Daily Hour                      10000 non-null  int64
 13  How Many New Clothes Monthly                   10000 non-null  int64
 14  How Long Internet Daily Hour                   10000 non-null  int64
 15  Energy efficiency                              10000 non-null  object
 16  Recycling                                      10000 non-null  object
 17  Cooking_With                                   10000 non-null  object
 18  CarbonEmission                                 10000 non-null  int64
 19  Frequency of Traveling by Air_frequently       10000 non-null  bool
 20  Frequency of Traveling by Air_never            10000 non-null  bool
 21  Frequency of Traveling by Air_rarely           10000 non-null  bool
 22  Frequency of Traveling by Air_very frequently  10000 non-null  bool
 23  Waste Bag Size_extra large                     10000 non-null  bool
 24  Waste Bag Size_large                           10000 non-null  bool
 25  Waste Bag Size_medium                          10000 non-null  bool
 26  Waste Bag Size_small                           10000 non-null  bool
dtypes: bool(8), int64(9), object(10)
memory usage: 1.5+ MB

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
feature_cols = [
    "Heating Energy Source",
    "Vehicle Monthly Distance Km",
    "Waste Bag Weekly Count",
    "How Long TV PC Daily Hour",
    "How Long Internet Daily Hour",

    # Air travel dummies
    "Frequency of Traveling by Air_frequently",
    "Frequency of Traveling by Air_never",
    "Frequency of Traveling by Air_rarely",
    "Frequency of Traveling by Air_very frequently",

    # Waste bag size dummies
    "Waste Bag Size_extra large",
    "Waste Bag Size_large",
    "Waste Bag Size_medium",
    "Waste Bag Size_small"
]

X = df[feature_cols]
y = df["CarbonEmission"]

# Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)



model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("MSE:", mean_squared_error(y_test, y_pred))
print("R2:", r2_score(y_test, y_pred))

MSE: 338657.5125260684
R2: 0.6742764268828652

In [ ]:
# 1. Import Libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error

feature_cols = [
    "Heating Energy Source",
    "Vehicle Monthly Distance Km",
    "Waste Bag Weekly Count",
    "How Long TV PC Daily Hour",
    "How Long Internet Daily Hour",

    # Air travel dummies
    "Frequency of Traveling by Air_frequently",
    "Frequency of Traveling by Air_never",
    "Frequency of Traveling by Air_rarely",
    "Frequency of Traveling by Air_very frequently",

    # Waste bag size dummies
    "Waste Bag Size_extra large",
    "Waste Bag Size_large",
    "Waste Bag Size_medium",
    "Waste Bag Size_small"
]

X = df[feature_cols]
y = df["CarbonEmission"]

# 5. Initialize Model
rf = RandomForestRegressor(
    n_estimators=100,
    max_depth=None,
    random_state=42
)


rf.fit(X_train, y_train)

# 7. Predictions
y_pred = rf.predict(X_test)

# 8. Evaluation
print("R2 Score:", r2_score(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))

R2 Score: 0.6241393893774388
MSE: 390785.4081049

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import StandardScaler
feature_cols = [
    "Heating Energy Source",
    "Vehicle Monthly Distance Km",
    "Waste Bag Weekly Count",
    "How Long TV PC Daily Hour",
    "How Long Internet Daily Hour",

    # Air travel dummies
    "Frequency of Traveling by Air_frequently",
    "Frequency of Traveling by Air_never",
    "Frequency of Traveling by Air_rarely",
    "Frequency of Traveling by Air_very frequently",

    # Waste bag size dummies
    "Waste Bag Size_extra large",
    "Waste Bag Size_large",
    "Waste Bag Size_medium",
    "Waste Bag Size_small"
]

X = df[feature_cols]
y = df["CarbonEmission"]

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Initialize Ridge model
ridge = Ridge(alpha=1.0)

# Train
ridge.fit(X_train, y_train)

# Predict
y_pred = ridge.predict(X_test)

# Evaluation
print("R2 Score:", r2_score(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))


from sklearn.linear_model import Lasso

# Initialize Lasso model
lasso = Lasso(alpha=0.1)

# Train
lasso.fit(X_train, y_train)

# Predict
y_pred = lasso.predict(X_test)

# Evaluation
print("R2 Score:", r2_score(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))

R2 Score: 0.6742744089576371
MSE: 338659.6105797392
R2 Score: 0.6742854369487288
MSE: 338648.1446855286